@page "{pizzaQuantity?}/{orderComplete?}"
@model PizzaStore.Pages.CalculatePriceModel

@{
    ViewData["Title"] = "Calculate price of pizza";
}
@using PizzaStore.Utilidades
<style>
    #myImg1 {
        height: 150px;
        width: 150px;
        float: right;
    }
</style>

<img id="myImg1" src="~/images/pizza.svg" />

<h1>Half of the road!</h1>

<h2>The price of your order is ₡ @Model.totalPrice </h2>


<form method="post">


    <div class="container">
        <div class="row">
            <div class="btn-group" style="margin-top: 25px">
                <input id="btnCreate" type="submit" class="btn-primary" asp-page-handler="Return" value="Return" style="width: 150px" />
            </div>

            <div class="btn-group" style="margin-top: 25px">




                <input id="btnloc" type="submit" class="btn-primary" asp-page-handler="Localization" value="Set localization" style="width: 150px" />


            </div>

        </div>
    </div>
</form>
