@page "{pizzaQuantity?}/{orderComplete?}"
@model PizzaStore.Pages.LocalizationModel
@{
    ViewData["Title"] = "Localization";
}
@using PizzaStore.Utilidades;

<style>
    #myImg1 {
        height: 150px;
        width: 150px;
        float: right;
    }
</style>

<img id="myImg1" src="~/images/pizza.svg" />
<h1>Almost done!</h1>

<h2>Please introduce your address to complete your order</h2>
@if (AvisosInmediatos.Existe(Model, "Fail"))
{
    @Html.Raw(AvisosInmediatos.Get(Model, "Fail"))
}

<form method="post">


    <div class="form-group">

        <input id="txtAddress" type="text" class="form-control" asp-for="address" />
    </div>
    <div class="container">
        <div class="row">
            <div class="btn-group" style="margin-top: 25px">
                <input id="btnCreate" type="submit" class="btn-primary" asp-page-handler="Return" value="Return" style="width: 150px" />
            </div>

            <div class="btn-group" style="margin-top: 25px">




                <input id="btnloc" type="submit" class="btn-primary" asp-page-handler="Finish" value="Finish" style="width: 150px" />


            </div>

        </div>
    </div>
</form>



